@{
    ViewData["Title"] = "GetFeedback";
}

@model FeedbacksViewModel

<h3>Feedbacks</h3>

@foreach (var feedback in Model.Feedbacks)
{
    <div class="row">
        <div class="col-md-4">
            <h3>Feedback Id: @feedback.Id</h3>
            <h3>Feedback Name: @feedback.Name</h3>
            <h4>Feedback Message:</h4>
            <p>@feedback.Message</p>
            <hr />
        </div>
    </div>
}